label {
  color: white;
  font-size: 28px;
  margin-bottom: 0.5em;
}

#mapid {
  width:  100%;
  padding-top: 75%;  /* 4:3 aspect ratio */
  border: 1px solid black;
}

body {
  padding: 1em 2em;
}

main, footer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
  font-size: 0.9em;
  padding-top:    1em;
  padding-bottom: 1em;
}

a {
  text-decoration: underline;
}
a:hover {
  background: rgba(255, 255, 255, 0.6);
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 2em;
}

#glitch_button:hover {
  background: none;
}

#glitch_button:hover img {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}

#picker {
  margin-top: 1em;
}

#counter {
  margin-top: 1em;
  color: white;
  font-size: 18px;
}
